.header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--secondarycolor);
    margin: 0;
    padding: 20px 0 20px 0;
}

.header span {
    color: var(--primarycolor)
}

.side-nav {
    width: 20%;
    height: 100%;
    position: fixed;
    background: #fff;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav .fa-times {
    display: none;
}

.side-nav ul li {
    height: 100px;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}

.side-nav ul li i {
    font-size: 55px;
}

.side-nav ul li a {
    font-size: 24px;
}

.side-nav ul li:nth-child(1),
.side-nav ul li:nth-child(7) {
    background: linear-gradient(90deg, var(--primarycolor) 0%, var(--secondarycolor)100%);
    color: #fff;
}

.side-nav ul li:nth-child(7) {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    justify-content: center;
}

.side-nav ul li:nth-child(7) a {
    font-size: 80px;
}

.container {
    width: 80%;
    height: 100vh;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .top-bar {
    width: 100%;
    height: 83px;
    background: var(--secondarycolor);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.container .top-bar .fa-bars {
    display: none;
}

.container .top-bar p {
    margin: 0;
}

.container .form-container {
    width: 95%;
    min-height: 800px;
    background: rgba(238, 222, 223, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.container .form-container .select-company-container,
.create-ticket-container {
    flex-direction: column;
    gap: 60px;
}

.container .form-container .create-ticket-container {
    display: none;
}

.footer p {
    margin: 0;
    text-align: center;
}

@media only screen and (max-device-width: 420px) {
    .side-nav {
        width: 50%;
        display: none;
    }

    .side-nav .fa-times {
        font-size: 55px;
        display: block;
        text-align: right;
        margin: 10px;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }

    .container .top-bar .fa-bars {
        display: block;
    }

    .container .table-container {
        overflow: scroll;
    }

    .side-nav ul li a img {
        width: 212px;
        height: 37px;
    }
}