.container {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.logo{
    width:100%;
    text-align: center;
    margin-bottom: 50px;
}

.register-container {
    width: 50%;
}

form.register {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

input {
    width: 345px;
    height: 82px;
}

@media only screen and (max-device-width: 420px) {
    .register-container {
        width: 100%;
    }

    input{
        width: 253px;
        height: 66px;
    }
}